sudo: required
dist: bionic

language:
- cpp

addons:
  ssh_known_hosts:
  - github.com
  - frs.sourceforge.net
  
cache:
- apt
- directories:
  - Package
  
compiler:
- g++

os:
- unix

env:
  global:
  - SOURCE_DIR=$TRAVIS_BUILD_DIR
  - RABBIT_BUILD_THIRDLIBRARY="TRUE"
  - QMAKE=qmake
  - secure: "M4bjvu39kdGMuHKVcp9Wwds2BYQk08WD0Lo09lMUDR1DQeI55qN8fKwKAN3L1soWmrB/7fNtaUakSsiGLQ3FMd4J9qvOozNYbMKpZKhMUnr0aT+2ypatf86CxA+7gOJe+TJhwO/eG83H2wJ6gy815RXXlCLtGAeKaE8ZAkSAV+XCQQjQY1QDGucYwTWl/Bt+bmmZya5uC3+Ui4e23pD/x6HdBwRJl6/njpT0rEwH+bJsEEivkymyFv1RUtZyZTPnIdTZc1XpOw7reRiy0NxEI0ff/QgmQwoUusrwqTBAznQAitS/DAk/87IHj3WiRXuAOzMiQiUdrWMskQNnc/NbxquZdnWNaM3s/pOeWEDxzglsdif6l4AnQrjbJTX/jo156mq7JK+w8IpTkMS9zxLMO91rG36fQz5ReTepHaeZmea9MUiTfi1Of5uzUuWC5eiUyKTrVXtKBsD6sahnyRXwQ/kfXME8FGKWdSx+nEW+/LfG8LMyHQl9Y0pczvsMSlf+SKeBLGdS22ddsp+SaVrkG0KSn/5WV1xfdWnEr38B8RF5t2sAkEee8mNvRcGUA1MMvBZLdj4GidP+SXRYsivBOSt/XP6wtrj2ftpyB5OjVwKpvbYxF+tvIxGqB4pQF00ySHa0uV+P5ZhXaQDkgD0HJ3eLcBxsjI9zJCc/9G1zMPM="
  - secure: "E0p6ngNuDX2c1IsZ6wm61OubuZqUSfXsxv1XPx/FAxrcBgbN4urcgEY5Mhfc23jB02g19SODJmFDpW0v7F0y8wB/8c2GfSdZKqxU1mihqGTUWLd+aQJzvnxAvEk36+9lJ7Fk5Eb2iC6dw1xfUc1HitBa9YBP3nhcZ3uLTFiwlPmR76k4LyOhJJZePZSi+fTALj/ge/wHTF073vTUplDptbPWETDAjyatz9xcA9h5slQ1bRPLgZ7CLQ+wbyAVo0nZCXxnKcQ7JIP23zBfOcwMbKouaW8Axa/x+4JfkU1KTC6dLXGlJZsYVTK2lwt49twST10vQV4ZZb2KtGoewNRMEGGbvywg8iam4dnrgvNzk3eIijGBiSlYZwhF6VfqwUqnWSqj6hjtK6UtaqfwJqg2FrCrj56At70yLbC3CcnvrAc5DgTGHXKB8HDwp/GYJ5oU8JCd+tJE4M/4KWRB1vEKRPlmL7RySmYnjJEsbYeoI+3SX/LQ73AO4Vc0lYLQLp2+4tLpKZQ0QB5YLI6nPvetZqHquguTtopU4k2ZHDIri2Ygu4gpanobB1tNVwjSxGbWh5cUjw6iHHXP13LjyiEZTl4ga4cA9ZocxHCC+8le+OFe6YT9aUHRpTdCbqNYyI0kJVbqtpYj/QLdX92T0XIedO+B3aF/z/q2TuQ/9f3q+GY="
  - secure: "q3aFz4O/K+Svdr4UfMkzzk3UXxUasDGhoX2mPll3LyIYxPmfLpR19K8m7YiKXo5jCMByJv0upifQ/9fnqZyLjWJvXmdw0fc4wSHcV3zoAOXV2VOkswonX2CCi3xDynLlFWSivtzMOXTPXFL+osWWvafZhfoeDqP1VupvAgHwrv3wUVhGlSBgTXpcEad0y0n/4mOIJYw5IoLuIV340A7Nxr9nBpsh1cj9xgBCXwHW/KeEP+sALXZ1SxytiM16bXlLo3r90KYa31LEFQz3yxM2LCmgfABl2reucqEC8cl6HgcyQzrCOzysXoJm+6dk00mx0utM/tvdF8aVyNK1+vTMdob2DBHtzVcEuTXQNN/I6wp7bAeVincpo6k9+SXoRviUKQR0y5iWTogLMejqh+avJoU/3Bq2DD9+yp6kegXJs9zsjAfBbK/kyhrptrMpmo+NXXwHy5jgBPnpsNUxbUAB7aPam6Bpw0GwGLeUN4sVHNT3QdEvZ9EwU9DGCVae7S9VRZY43PKpxnMWszZclAwBf7bp/Yr4J4Bsp5PvSRgscYn0VriAljO7VAT0XJoo+dx/Ff0LLz+8EHMqim90XCwSSbkhZC8T9Dpz3omcDUnabbHjScsuFmYWcvIO5Wf0msq4pt1E0F9lUvX0fjwwopyZvDE5iac6FLc0PJCEyH0s6TM="
 
  matrix:
  - BUILD_TARGERT="android" BUILD_ARCH="armeabi-v7a" ANDROID_ARM_NEON=ON QT_VERSION_DIR=5.13
    QT_VERSION=5.13.2 ANDROID_API=android-24 DOWNLOAD_QT=TRUE GENERATORS="Unix Makefiles"
  - BUILD_TARGERT="android" BUILD_ARCH="arm64-v8a" ANDROID_ARM_NEON=ON QT_VERSION_DIR=5.12
    QT_VERSION=5.12.3 ANDROID_API=android-24 DOWNLOAD_QT=TRUE GENERATORS="Unix Makefiles"
  - BUILD_TARGERT="android" BUILD_ARCH="x86" QT_VERSION_DIR=5.12 QT_VERSION=5.12.3
    ANDROID_API=android-24 DOWNLOAD_QT=TRUE GENERATORS="Unix Makefiles"
  - BUILD_TARGERT="unix" DOWNLOAD_QT=APT GENERATORS="Unix Makefiles"
  - BUILD_TARGERT="unix" QT_VERSION_DIR=512 QT_VERSION=5.12.3 DOWNLOAD_QT=FALSE GENERATORS="Unix
    Makefiles" DOWNLOAD_THIRDLIBS_URL=https://github.com/KangLin/RabbitThirdLibrary/releases/download/v0.2.9/unix_x86_64_v0.2.9.tar.gz
  - BUILD_TARGERT="unix" QT_VERSION_DIR=511 QT_VERSION=5.11.3 DOWNLOAD_QT=FALSE STATIC=ON
    GENERATORS="Unix Makefiles" DOWNLOAD_THIRDLIBS_URL=https://github.com/KangLin/RabbitThirdLibrary/releases/download/v0.2.9/unix_x86_64_v0.2.9.tar.gz
  - BUILD_TARGERT="unix" BUILD_ARCH="unix" QT_VERSION_DIR=5.12 QT_VERSION=5.12.6 DOWNLOAD_QT=TRUE
    GENERATORS="Unix Makefiles" DOWNLOAD_THIRDLIBS_URL=https://github.com/KangLin/RabbitThirdLibrary/releases/download/v0.2.9/unix_x86_64_v0.2.9.tar.gz

before_install:
- echo "TRAVIS_OS_NAME=${TRAVIS_OS_NAME}"
- sudo apt-get install -y -qq xvfb xpra
- sudo Xvfb :99 -ac &
- export DISPLAY=:99.0
- mkdir ${SOURCE_DIR}/Tools
- export VERSION="v2.0.8"
- echo "QT_USER:$QT_USER"
- echo "QT_PASSWORD:$QT_PASSWORD"
- echo "STOREPASS:$STOREPASS"

install:
- cd ${SOURCE_DIR}
- git clone https://github.com/KangLin/RabbitCommon.git
- export RabbitCommon_DIR="`pwd`/RabbitCommon"
- bash ci/build-install-tools.sh

before_script:
- cd ${SOURCE_DIR}

script:
- bash ${SOURCE_DIR}/ci/build.sh ${SOURCE_DIR}

notifications:
  email: kl222@126.com
  on_success: never
  on_failure: always
