#TODO: Change version

version: 'v2.0.0.{build}'

cache:
  - model
  - Package
  
environment:
  STOREPASS:
    secure: l9BZEU39F1a4vSkhwl0CHR+yh6CD1c7byGzMv+1NUa4=
  QT_USER:
    secure: EoBPaPuJ6u9UDYpQWjKhUg==
  QT_PASSWORD:
    secure: ejAYGgB+3sBispRxUSr0xw==
  BUILD_VERSION: v2.0.0
  
  matrix:
  ##### msvc 2013 ########
  - BUILD_TARGERT: windows_msvc
    GENERATORS: "Visual Studio 12 2013"
    TOOLCHAIN_VERSION: 12
    QT_ROOT: C:\Qt\5.6\msvc2013
    BUILD_ARCH: x86
    
  - BUILD_TARGERT: windows_msvc
    GENERATORS: "Visual Studio 12 2013 Win64"
    TOOLCHAIN_VERSION: 12
    QT_ROOT: C:\Qt\5.6\msvc2013_64
    BUILD_ARCH: x64
  
  ##### msvc 2015 ########
  - BUILD_TARGERT: windows_msvc
    GENERATORS: "Visual Studio 14 2015"
    TOOLCHAIN_VERSION: 14
    QT_ROOT: C:\Qt\5.6\msvc2015
    BUILD_ARCH: x86

  - BUILD_TARGERT: windows_msvc
    GENERATORS: "Visual Studio 14 2015 Win64"
    TOOLCHAIN_VERSION: 14
    QT_ROOT: C:\Qt\5.10\msvc2015_64
    BUILD_ARCH: x64

  ##### msvc 2017 ########
  - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
    GENERATORS: "Visual Studio 15 2017"
    BUILD_TARGERT: windows_msvc
    TOOLCHAIN_VERSION: 15
    QT_ROOT: C:\Qt\5.12\msvc2017
    BUILD_ARCH: x86
  
  - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
    GENERATORS: "Visual Studio 15 2017 Win64"
    BUILD_TARGERT: windows_msvc
    TOOLCHAIN_VERSION: 15
    QT_ROOT: C:\Qt\5.12\msvc2017_64
    BUILD_ARCH: x64
    
  ##### msvc 2019 ########
  - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2019
    GENERATORS: "Visual Studio 16 2019"
    BUILD_TARGERT: windows_msvc
    TOOLCHAIN_VERSION: 16
    #QT_ROOT: C:\Qt\5.12\msvc2019
    BUILD_ARCH: x86

matrix:
  fast_finish: false

init:
  #- set varch=%BUILD_ARCH%
  #- if "%BUILD_ARCH%" == "x64" set varch=amd64
  #- if "%BUILD_TARGERT%" == "windows_msvc" if %TOOLCHAIN_VERSION% LSS 15 (call "C:\Program Files (x86)\Microsoft Visual Studio %TOOLCHAIN_VERSION%.0\VC\vcvarsall.bat" %varch%) else (call "C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\VC\Auxiliary\Build\vcvarsall.bat" %varch%)  
  #- echo NUMBER_OF_PROCESSORS=%NUMBER_OF_PROCESSORS%
  #- echo PROCESSOR_IDENTIFIER=%PROCESSOR_IDENTIFIER%
  #- if NOT "%QT_ROOT%" == "NO" for /f "delims=" %%i in ('%QT_ROOT%/bin/qmake -query QT_VERSION') do (set QT_VERSION=%%i) 
  #- echo QT_ROOT=%QT_ROOT%
  #- echo QT_VERSION=%QT_VERSION%
  #- del C:\msys64\usr\bin\link.exe

install:
  #- C:\msys64\autorebase.bat
  #- C:\msys64\usr\bin\pacman.exe -S --noconfirm unzip
  #- if "%BUILD_TARGERT%"=="windows_mingw" set PATH=C:\Qt\Tools\mingw%TOOLCHAIN_VERSION%_32\bin;%PATH%
  #- if "%BUILD_TARGERT%" == "windows_mingw" set MSYSTEM=MINGW32  #设置编译系统为MINGW32

before_build:
  - git clone https://github.com/KangLin/RabbitCommon.git
  - set RabbitCommon_DIR=%APPVEYOR_BUILD_FOLDER%/RabbitCommon
  
build_script:
  #- if %TOOLCHAIN_VERSION%==15 (call msbuild Src/ChineseChessControl.sln)
  - mkdir build
  - cd build
  - echo "cmake .. -G"%GENERATORS%" -DCMAKE_INSTALL_PREFIX=install -DQt5_DIR=%QT_ROOT%\lib\cmake\Qt5"
  - cmake .. -G"%GENERATORS%" -DCMAKE_INSTALL_PREFIX=install -DQt5_DIR="%QT_ROOT%\lib\cmake\Qt5"
  - cmake --build . --config Release --target install
  - call "C:\Program Files (x86)\NSIS\makensis.exe" "Install.nsi"
  - if exist install/bin/ChineseChessApp.exe (call "%cd%/install/bin/ChineseChessApp.exe" -f "update_windows.xml" --pf "%cd%/install/bin/ChineseChessControl-Setup-%BUILD_VERSION%.exe")
  
artifacts:
  - path: build/ChineseChessControl-Setup-$(BUILD_VERSION).exe  
  - path: build/update_windows.xml
  
test: off

#See: https://www.appveyor.com/docs/deployment/github/
deploy:
  - provider: GitHub
    #release: ChineseChessControl$(appveyor_build_version)
    description: '中国象棋控件 变更详见[ChangeLog.md](ChangeLog.md)'
    #token : https://github.com/settings/tokens
    #password encrypt: https://ci.appveyor.com/tools/encrypt
    auth_token:
      secure: d6yIXuiId5YbQneorJtC35vuLCEK0iWZUOuXf0MeVA7oqPS78sdCcuv0TgPV2+9t
    #artifact: ChineseChessControl$(BUILD_TARGERT)$(TOOLCHAIN_VERSION)_$(BUILD_ARCH)_$(QT_VERSION)_$(appveyor_build_version)
    #draft: true
    prerelease: true
    force_update: true
    on:
      BUILD_TARGERT: windows_msvc
      #TOOLCHAIN_VERSION: 14
      #QT_VERSION: 5.6.3
      #BUILD_ARCH: x86
      appveyor_repo_tag: true        # deploy on tag push only
