[Desktop Entry]
Type=Application
Name=ChineseChess
GenericName=ChineseChess
Comment=ChineseChess
Name[zh_CN]=中国象棋
GenericName[zh_CN]=中国象棋
Comment[zh_CN]=中国象棋
Icon=ChineseChess
Exec=/opt/ChineseChess/bin/ChineseChessApp
Terminal=false
StartupNotify=true
Categories=Application;Development;Game
